@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Roboto+Mono&display=swap');


body {

    background-color: rgba(18, 77, 84, 1);
    width: 100%;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}



table {

    height: auto;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    color: rgba(214, 196, 176, 1);
}

h1 {
    color: rgba(214, 196, 176, 1);
    height: auto;
    font-style: Regular;
    text-align: center;
    font-family: Roboto Mono;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    font-size: 64px;
}

button {

    background-color: #102937;
    border: none;
    color: rgba(214, 196, 176, 1);
    text-align: center;
    font-size: 25px;
    border-radius: 12px;
}