@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Roboto+Mono&display=swap');


body {

    background-color: rgba(18, 77, 84, 1);
    width: 100%;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.frame1-rectangle2 {
    top: 197px;
    left: 48px;
    width: 132px;
    height: 40px;
    position: absolute;
}

table {

    height: auto;
    position: absolute;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    left: 50px;
    top: 150px;
}

.frame1-text {
    top: 197px;
    left: 48px;
    color: rgba(214, 196, 176, 1);
    width: 66px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 129.99999523162842%;
    font-stretch: normal;
    text-decoration: none;
}

.frame1-rectangle3 {
    top: 720px;
    left: 48px;
    width: 188px;
    height: 40;
    position: absolute;
}

.frame1-text2 {
    top: 720px;
    left: 48px;
    color: rgba(214, 196, 176, 1);
    width: 112px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 129.99999523162842%;
    font-stretch: normal;
    text-decoration: none;
}

.frame1-text4 {
    top: 62px;
    color: rgba(214, 196, 176, 1);
    width: 1211px;
    height: auto;
    font-size: 40px;
    font-style: Regular;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.frame1-text6 {
    color: rgba(214, 196, 176, 1);
    width: 1206px;
    height: auto;
    font-size: 40px;
    font-style: Regular;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}